.boxContainerInLogin{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%!important;
    height: 80%!important;
    background-color: #ffffff;
    box-shadow: 1px 1px 20px 1px slategrey!important;
}

.textField{
    display: flex;
    align-items: center;
    justify-content: center;
}